@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
html {
  background: #000000;
  overflow-y: scroll; 
}

body {
  font: .875em/1.6 'Inconsolata', monospace;
  color: #41FF00;
  font-weight: 400;
  max-width: 40em;
  padding: 1.6em;
  margin: 10% 0; 
}
::selection{
  background: #000000
}
::-webkit-selection{
  background: #000000
}
::-moz-selection{
  background: #000000
}
a{
  color: #41FF00;
}
a:hover,a:focus{
  background: #000000;
  color:#41FF00;
}
h2{
  font-size: 1em;
  font-weight: 400;
}
p{
  margin-bottom:2em;
}
abbr{
  cursor: help;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  margin:1em 0 0;
}
span{
  display: block;
  color:#999;
  line-height:1;
}

kbd{
  font-family: 'Inconsolata', monospace;
  border:1px solid #999;
  text-transform: uppercase;
  padding:0 .2em;
}
input[type="text"]{
  max-width: 10em;
  border: none;
  font-family: inherit;
  background: #000000;
  padding:0 .5em;
}
input[type="text"]:focus{
  background: #000000;
  color: #41FF00;
  outline:none;
}
.command{
  display: block;
  max-width: 20em;
  color: #41FF00;
  font-weight: 700;
  margin: 2em 0;
}


section{
  display: none;
}
.open{
  display: block;
}
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  main {
    font-size: 2.1em;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  main {
    font-size: 2.1em;
  }
}